.title{
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    p{
        margin: 0;
        padding: 0;
    }
}
.Wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
label{
    font-weight: bold;
}

.modalShadow{
    box-shadow:3px 8px 31px 10px rgba(0,0,0,0.7);
    display: block;
}